{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jest/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "jest"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-cond-assign": ["error", "always"],
    "no-unused-vars": ["error", {"argsIgnorePattern": "state|action|dispatch"}],
    "no-console": "off",
    "no-extra-boolean-cast": "off",
    "camelcase": 2,
    "comma-dangle": ["error", "always-multiline"],
    "keyword-spacing": ["error", { "after": true, "before": true }],
    "react/jsx-curly-spacing": ["error", "always"],
    "react/jsx-equals-spacing": ["error", "always"]
  },
  "globals": {
    "document": true,
    "console": true,
    "__dirname": true,
    "module": true,
  },
  "env": {
    "jest/globals": true
  }
}
