/**
 * Timeslot variables:
 */
$timeslot-default-bg-color: #FFFFFF;
$timeslot-selected-bg-color: #FF3E00;
$timeslot-disabled-bg-color: #EEEDEB;
$timeslot-default-color: #313232;
$timeslot-selected-color: #FFFFFF;
$timeslot-disabled-color: #C6C3BD;
$timeslot-border-radius: 0.25em;
$timeslot-margin: 0.5em;
$timeslot-fonts: 'Open Sans', sans-serif;
